:root{
    ---background-colr:lightsalmon  ;
    --border: 1px solid black;
}

body{
    background: var(---background-colr);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 95%;
    height: 480px;
    display: flex;
}
.main{
    flex: 1;
}

.quotes{
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: gray;
    background-color: #f4edea;
    border: 10px solid #11CAF0 ;
}

.quotes p, .quotes h3 {
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}

@media (max-width: 480px) {
    .quotes p, .quotes h3 {
        font-size: 1rem;
    }
}

.btn-info{
    font-size: 30px;
    border-radius: 10px;
}

footer{
    background-color: #f4edea ;
    text-align: center;
    margin-top: auto;
    padding: 20px 0 20px;


}